@import "../../styles/colors";

.time {
  margin: 10px;
  &-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &-element {
    color: $darkgray;
  }
}

@media (min-width: 1000px) {
  .time-box {
    text-align: center;
    font-size: 20px;
  }
}
