@import "../../styles/extends";

.header {
  @extend %updown;
  @extend %center;
  font-size: 24px;
  &-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  width: 50px;
  @extend %center-total;
}

.isotipo {
  cursor: pointer;
}

.login {
  width: 50px;
  @extend %center-total;
  cursor: pointer;
}
