@import "../../styles/extends";

.loading-box {
  @extend %center-total;
  flex-direction: column;
}

.title-loading {
  animation: load 5s infinite;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
