@import "./styles/colors";
@import "./styles/extends";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.out-box {
  width: 100vw;
  @extend %center;
  min-height: calc(100vh - 136px);
}

.inside-box {
  // width: 360px;
  @extend %center;
}

ul {
  padding-inline-start: 0;
}

.title {
  text-align: center;
  color: $darkgray;
}
