@import "../../styles/extends";

.swimmer-card {
  width: 140px;
  height: 200px;
  font-size: 21px;
  font-weight: 600;
  @extend %center;
  cursor: pointer;
  margin: 20px;
  &_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

img {
  border-radius: 50%;
}
